{% extends "layout.html" %}

{% block main %}
    <div class="section">
        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <a href="/checkin">
                        <button type="button" class="btn btn-primary btn-lg">Check-In</button>
                    </a>
                </div>
                <div class="col">
                    <a href="/checkout">
                        <button type="button" class="btn btn-primary btn-lg">Check-Out</button>
                    </a>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>

    </div>
{% endblock %}
